doctype
html
  head
  title Viz
  base(href="/")

  // bower:css
  link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
  // endbower

  //- inject:css
  link(rel="stylesheet", href=".tmp/app.css")
  //- endinject
  
  // bower:js
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
  script(src='bower_components/angular-local-storage/dist/angular-local-storage.js')
  // endbower

  script(src="socket.io/socket.io.js")

  //- inject:js
  script(src="public/app/app.js")
  script(src="public/app/agent/agent.module.js")
  script(src="public/app/agent/account/account.module.js")
  script(src="public/app/agent/dashboard/agent-dashboard.module.js")
  script(src="public/app/agent/shared/shared.module.js")
  script(src="public/app/agent/account/account.service.js")
  script(src="public/app/agent/shared/socket.service.js")
  script(src="public/app/agent/account/account.controller.js")
  script(src="public/app/agent/dashboard/agent-dashboard.controller.js")
  script(src="public/app/agent/authorization/authorizationModule.js")
  script(src="public/app/agent/authorization/authorizationService.js")
  //- endinject

body(ng-app="viz")
  .container-full(ui-view)
