.a {
  width: 10px;
}
.form-header {
  margin: 30px 0;
}
.mt-20 {
  margin-top: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.username {
  font-size: 20px;
  display: inline;
}
body {
  height: 100%;
  padding: 0;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.brand-header {
  background-color: #000;
}
.app-logo {
  margin-left: 30px;
}
.app-logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}
