.a {
  width: 10px;
}
.form-header {
  margin: 30px 0;
}
.form-validation {
  font-size: 13px;
  font-weight: 400;
  background-color: #fb3640;
  color: #fff;
  width: 100%;
  padding: 2px 10px;
  margin-top: 7px;
  margin-bottom: 17px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.mt-20 {
  margin-top: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.username {
  font-size: 20px;
  display: inline;
}
.client-authentication-logo {
  margin: 10px 20px;
  color: #7aadff;
  font-size: 30px;
}
.error,
.info {
  position: fixed;
  top: 20px;
  left: 50%;
  font-size: 20px;
  font-weight: 300;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 9999999;
  color: #fff;
  padding: 20px 50px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: top 0.5s ease-out, opacity 0.2s ease-out;
  transition: top 0.5s ease-out, opacity 0.2s ease-out;
}
.error {
  background-color: #fb3640;
}
.info {
  background-color: #58b957;
}
body {
  height: 100%;
  padding: 0;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.brand-header {
  background-color: #000;
}
.app-logo {
  margin-left: 30px;
}
.app-logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}
